<!DOCTYPE HTML>

<html>
	<head>
		<title>Our Special Time</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='static/main.css') }}" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
        <script type='type/javascript' src='declare.js'></script>
        <script type="text/javascript" src="new.json"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
        <style>
       
        </style>
    </head>
    <body >
        <div class="split left">
            <div class="centered"> 
                <button onclick="window.location.href='page4.html'" id=button_left type="button">Poor Man Date</button>
            
        </div>  
        <div class="split right">
            <div class="centered"> 
                <button  onclick="window.location.href='page3.html'" id=button_right type="button">Rich Man Date</button>
            <div>
            <div>
                
            </div>    
            
            
            </div> 
        </div>
        
    </body>