<!DOCTYPE HTML>

<html>
	<head>
		<title>Our Rich Man Date</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='static/main.css') }}" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
        <style>
        tbody {
        width: 100%;
        color:aquamarine;
        }
        </style>
    </head>


</html>